body {
    background-color: #3d8cb7;
    margin: 0;
    height: 100vh;
    align-items: center;
}

body img {
    position:absolute;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}

body iframe {
    position:absolute;
    aspect-ratio: initial;
    width: 50%;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
}